@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;500;700;900&family=Heebo:wght@100;300;500;700;900&display=swap');

body{
	font-family: 'Catamaran';
	font-size: 15px;
	color: #777;
}
header{
	position: relative;
	background-color: #282932;
	width: 100%;
	top:0;
	border-bottom: 1px dashed rgba(255, 255, 255, 0.15);
}
footer{
	background-color: #282932;
	background-image: url(../img/footer-bg.png);
	background-size: cover;
	padding-top: 40px;
	color: rgba(255, 255, 255, 0.55);
	text-align: center;
	font-size: 13px;
	font-weight: 600;
}
footer p span{
	color: #f7b614;
}
footer #copy{
	padding: 20px 0;
	margin-top: 5%;
	color: #fff;
	border-top: 1px dashed rgba(255, 255, 255, 0.15);
}

#hero{
	background-image: url("../img/slider-glob.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: left;
	color: #FFF;
	padding: 10% 0;	
	background-color: #282932;
	border-bottom-right-radius: 100%;
}

.btn-cc{
	padding: 10px 30px;
	font-size: 13px;
	font-weight: 600;
	background-color: #f7b614;
	border: 0;
	color: #fff;
}

#hero h1{
	font-size: 50px;
	font-weight: 700;
	font-family: 'Heebo';
}

#hero span{
	color: #f7b614;
}

#hero p{
	padding: 5% 0;
}

#populargoods {
	text-align: center;
	padding: 5% 0;
}